body {
  background-color: rgb(212, 236, 221, 0.8);
}

header {
  padding: 60px 20px 20px 30px;
}

strong {
  color: #92a759;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(107, 105, 105, 0.9);
  padding: 20px 30px 20px 30px;
  width: 800px;
  height: 550px;
  max-width: 55%;
  font-family: monospace;
  border: 3px solid #92a759;
  margin: 0 auto;
}
